body {
  margin: 0;
  margin-bottom: 40px;
  background-color: whitesmoke;
  font-family: sans-serif;
}

.container {
  padding: 18px;
}

.items-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

@media (max-width: 1000px) {
  .items-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1500px) {
  .items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

h3 {
  color: grey;
  margin-bottom: 16px;
}