.login {
    font-size: 30px;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    &__box {
        height: 400px;
        width: 200px;
    }

    &__btn {
        background-color: red; /* Green */
        border: none;
        color: white;
        margin-top: 16px;
        border-radius: 16px;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
}